@model EntityLayer.Concrete.Admin

@{
    ViewBag.Title = "Admin Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>@ViewBag.Title</h1>
<br />

@using (Html.BeginForm("UpdateAdmin", "Authorization", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.AdminID)
        @Html.Label("Admin Kullanıcı Adı")
        @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })
        @*@Html.ValidationMessageFor(x => x.AdminUserName)*@
        <br />
        @Html.Label("Şifre")
        @Html.TextBoxFor(x => x.AdminPassword, new { @class = "form-control" })
        @*@Html.ValidationMessageFor(x => x.AdminPassword)*@
        <br />
        @Html.Label("Rolü Seçiniz")
        @Html.TextBoxFor(x => x.AdminRole, new { @class = "form-control" })
        @*@Html.ValidationMessageFor(x => x.AdminPassword)*@
        <button class="btn btn-primary">Kaydet</button>
    </div>
}

