@model EntityLayer.Concrete.Content

@{
    ViewBag.Title = "İçerik Ekleme Sayfası";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<br />
<h1>@ViewBag.Title</h1>
<br />

@using (Html.BeginForm("AddContent", "WriterPanelContent", FormMethod.Post))
{
    <div class="form-group">
        <input type="hidden" name="HeadingId" value="@ViewBag.HeadingId" />
        @Html.Label("İçeriğinizi yazın")
        @Html.TextAreaFor(x => x.ContentValue,10,30, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ContentValue)
        <br />
        <button class="btn btn-info">Ekle</button>
    </div>
}




