@model List<EntityLayer.Concrete.About>

@{
    ViewBag.Title = "Hakkımızda Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Hakkımda Başlığı</th>
        <th>Durum</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutId</td>
            <td>@item.AboutDetails1</td>
            <td>@(item.Status ? "Aktif" : "Pasif")</td>
            <td>
                <a href="/About/Activate/@item.AboutId" class="btn btn-warning">Aktif Yap</a>
                <a href="/About/MakePassive/@item.AboutId" class="btn btn-danger">Pasif Yap</a>
            </td>
        </tr>
    }
</table>

<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Yeni Kayıt Ekle
</button>

@Html.Action("AboutPartial", "About")